<style>

.author {
	display: none;
}

.title.toc-ignore {
	display: none;
}

.book .book-body {
   left: 0px;
 }
    
.h1first {
  border: 2.5px solid #333;
  padding: 8px 12px;
  position: static;
  counter-reset: h1;
}

.h1next {
  border: 2.5px solid #333;
  padding: 8px 12px;
  position: static;
}

.book.with-summary .book-body {
    left: 0px;
}
    
.p1 {
  margin-left: 0px;
}

.p2 {
  margin-left: 50px;
}

.p3 {
  margin-left: 100px;
}

ul {
  margin-left: 00px;
}

#divh2first{
  text-indent: 50px;
  margin-left: 50px;
  border-bottom: 1.5px solid #333;
  border-right: 1.5px solid #333;
  position: static;
  counter-reset: h2;
}

#divh2{
  text-indent: 50px;
  margin-left: 50px;
  position: static;
}

#divh2code{
  text-indent: 0px;
  margin-left: 50px;
  position: static;
}


#divh3first{
  text-indent: 100px;
  margin-left: 100px;
  position: static;
}

.r {
width: 890px
}
 
.h2first {
  text-indent: 0px;
  position: static;

}

#divh2next {
  text-indent: 50px;
  margin-left: 50px;
  border-bottom: 1.5px solid #333;
  border-right: 1.5px solid #333;
  position: static;
}

#divh3next {
  text-indent: 100px;
  margin-left: 100px;
  position: static;
}

.h2next {
  text-indent: 0px;
  position: static;
}
.h3first {
  text-indent: 100px;
  text-decoration: underline;
  padding: 8px 0px;
  position: static;
  counter-reset: h3;
}

.h3next {
  text-indent: 100px;
  text-decoration: underline;
  padding: 8px 0px;
  position: static;
}

h4first {
  text-indent: 285px;
  text-decoration: underline;
  padding: 8px 12px;
  position: static;
  counter-reset: h4;
}

.h1first:before {
    counter-increment: h1;
    content: counter(h1) " "
}

.h1next:before {
    counter-increment: h1;
    content: counter(h1) " "
}

.h2first:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) " "
}

.h2next:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) " "
}

.h3first:before {
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) " "
}

.h3next:before {
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) " "
}

.h4first:before {
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " "
}

</style>
